* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.margin {
    margin-left: auto;


}

nav a {
font-size: 20px;
}


.hero {
    width: 100%;
    height: 96vh;
    object-fit: cover;
}
main{
    position: relative;
}
.herotext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 15px black;
}

.cards {
    padding: 0 10%
}

.row {
    overflow: hidden;
}

.row img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
}

.row img:hover {
    transform: scale(1.025);
    width: 100%;
}
.logo {
    filter: invert(100%);
}


.d-block {
    object-fit: cover;
    width: 100%;
    height: 85vh;
}

.cards h2 {
padding: 30px 30px;
}